@import "tailwindcss";

@layer components {
  .logo-animado:hover {
    transform-origin: 50% 50%;
    animation: pop 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  }

  @keyframes pop {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.2);
      opacity: 1;
    }
    75% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(1);
    }
  }
}
