@import "tailwindcss";

@layer components {
  :root {
    --logo-color-primary-light: #ff6d00;
    --logo-color-secondary-light: #ff9100;
    --logo-color-primary-dark: #ffffff;
    --bg-color-primary-light: #f4f4f4;
    --bg-color-secondary-light: #e0e0e0;
    --nav-text-color-light: #ffbe0b;
  }
  .logo-wrapper{
    cursor: auto;
  }
  .animating .pieza1 {
    transform-origin: 50% 50%;
    animation: pop-up 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  }
  .animating .pieza2 {
    transform-origin: 50% 50%;
    animation: pop-down 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  }

  .animating .pieza3 {
    transform-origin: 50% 50%;
    animation: pop-right 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  }
 .animating .pieza4{
    transform-origin: 50% 50%;
    animation: pop-special 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  }
  @keyframes pop-up {
    0% {
      transform: translateY(-200px);
      opacity: 1;
    }
    50% {
      transform: translateY(-300px);
      opacity: 1;
    }
    100% {
      transform: translateY(0px);
    }
  }
  @keyframes pop-down {
    0% {
      transform: translateY(200px);
      opacity: 1;
    }
    50% {
      transform: translateY(300px);
      opacity: 1;
    }
    100% {
      transform: translateY(0px);
    }
  }
    @keyframes pop-right {
    0% {
      transform: translateX(200px);
      opacity: 1;
    }
    50% {
      transform: translateX(300px);
      opacity: 1;
    }
    100% {
      transform: translateX(0px);
    }
  }
  @keyframes pop-special {
    0% {
      transform: translateY(100px);
      opacity: 1;
    }
    50% {
      transform: translateY(200px);
      opacity: 1;
    }
    100% {
      transform: translateY(0px);
    }
  }

  .logo-light-primary {
    fill: var(--logo-color-primary-light);
  }
  .logo-light-secondary {
    fill: var(--logo-color-secondary-light);
  }
  .bg-primary {
    background-color: var(--bg-color-primary-light);
  }
  .bg-secondary {
    background-color: var(--bg-color-secondary-light);
  }
  .nav-text-color {
    color: var(--logo-color-primary-light);
  }
}
