@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #ff6d00;
  --color-secondary: #ff9100;
  --color-primary-dark: #240046;
  --color-secondary-dark: #5a199b;
}

@layer base {
  :root {
    --logo-color-primary: #ff6d00;
    --logo-color-secondary: #ff9100;
    --bg-color-primary: #f4f4f4;
    --bg-color-secondary: #e0e0e0;
    --nav-text-color: #ffbe0b;
    --button-bg: #ff9100;
    --button-accent: #ff6d00;
  }
  .dark {
    --logo-color-primary: #240046;
    --logo-color-secondary: #5a199b;
    --bg-color-primary: #313131;
    --bg-color-secondary: #646464;
    --nav-text-color: #66049e;
    --button-bg: #5a199b;
    --button-accent: #240046;
  }
  .logo-wrapper {
    cursor: auto;
  }
  .animating .pieza1 {
    transform-origin: 50% 50%;
    animation: pop-up 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  }
  .animating .pieza2 {
    transform-origin: 50% 50%;
    animation: pop-down 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  }

  .animating .pieza3 {
    transform-origin: 50% 50%;
    animation: pop-right 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  }
  .animating .pieza4 {
    transform-origin: 50% 50%;
    animation: pop-special 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  }
  @keyframes pop-up {
    0% {
      transform: translateY(-200px);
      opacity: 1;
    }
    50% {
      transform: translateY(-300px);
      opacity: 1;
    }
    100% {
      transform: translateY(0px);
    }
  }
  @keyframes pop-down {
    0% {
      transform: translateY(200px);
      opacity: 1;
    }
    50% {
      transform: translateY(300px);
      opacity: 1;
    }
    100% {
      transform: translateY(0px);
    }
  }
  @keyframes pop-right {
    0% {
      transform: translateX(200px);
      opacity: 1;
    }
    50% {
      transform: translateX(300px);
      opacity: 1;
    }
    100% {
      transform: translateX(0px);
    }
  }
  @keyframes pop-special {
    0% {
      transform: translateY(100px);
      opacity: 1;
    }
    50% {
      transform: translateY(200px);
      opacity: 1;
    }
    100% {
      transform: translateY(0px);
    }
  }

  .logo-light-primary {
    fill: var(--logo-color-primary);
  }
  .logo-light-secondary {
    fill: var(--logo-color-secondary);
  }
  .bg-primary {
    background-color: var(--bg-color-primary);
  }
  .bg-secondary {
    background-color: var(--bg-color-secondary);
  }
  .nav-text-color {
    color: var(--logo-color-primary);
  }
  .bg-logo-light-primary {
    background-color: var(--logo-color-primary);
  }
  .bg-logo-light-secondary {
    background-color: var(--logo-color-secondary);
  }
  .bg-button-light {
    background-color: var(--button-bg);
  }
  .bg-button-light:hover {
    background-color: var(--button-accent);
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s ease;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}
